body{

    border-radius: 2px;
    display: flex;
    justify-content: center;
    background-size: cover;
}
fieldset{
    background-image: url(bg1.avif);
    background-color: rgb(249, 251, 252);
    background-size: cover;
    
}
table{
    display: flex;
    border-collapse: collapse;
    width: 100%;
}

#displayTable {
    border: 1px solid black;
    
}

/* button{
    border-radius: 25%;
    border: none;
} */
