#dataTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black;
}
.table-bottom{
  border-collapse: collapse;
  border: 1px solid black;
}
.table-bottom th{
  border-collapse: collapse;
}
h2{
  display: flex;
  justify-content: center;
}

fieldset {
  background-color: rgb(222, 127, 235);
  display: flex;
  justify-content: center;
}
/* .input{
  display: flex;
  justify-content: space-around;
  flex-direction: row;

} */
/* .check-box{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
} */